.textColor {
  color: red;
}

.danger {
  background-color: lightblue;
  color: red;
}

.text-style {
  font-size: 40px;
}

.color-box {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}
